<footer class="footer-1 container">
  <div class="footer-container">
    <div class="footer-wrap">
      <div class="logo-container">
        <a class="footer-logo-type" href="./index.html">
          <svg class="" width="127" height="20">
            <use
              href="/img/header/header-icons/header-icons.svg#header-icon-logo"
            ></use>
          </svg>
        </a>
      </div>

      <div class="contacts-container" id="ancor">
        <p class="number-paragraf">
          <span class="tel-contact"> UA: </span>
          <a class="tel-contact" href="tel:+380665438912">+38 066 543 8912</a>
        </p>
        <p class="city-place">Ukraine, Kyiv</p>
      </div>
    </div>
    <div class="social-container">
      <ul class="first-social-list">
        <li class="socials-link">
          <a class="socials" href="https://www.instagram.com/goitclub/"
            >Instagram</a
          >
        </li>
        <li class="socials-link">
          <a class="socials" href="https://www.facebook.com/goITclub/"
            >Facebook</a
          >
        </li>
        <li class="socials-link">
          <a class="socials" href="https://www.youtube.com/c/GoIT">Youtube</a>
        </li>
      </ul>
      <ul class="second-social-list">
        <li class="socials-link">
          <a class="socials" href="">About us</a>
        </li>
        <li class="socials-link">
          <a class="socials" href=""> Our courses</a>
        </li>
        <li class="socials-link">
          <a class="socials" href="">Our mentors</a>
        </li>
        <li class="socials-link">
          <a class="socials" href="">Reviews</a>
        </li>
        <li class="socials-link">
          <a class="socials" href="#+380665438912">Contacts</a>
        </li>
      </ul>
    </div>
    <div class="container-form">
      <form class="place-post" action="form">
        <label class="sticker" for="e-mail">
          <input
            class="e-mail"
            name="post"
            type="email"
            id="e-mail"
            placeholder="Enter your email"
          />
        </label>
        <button class="go-button" type="submit">
          <p class="go-text">Go</p>
        </button>
      </form>
    </div>
  </div>
  <div class="forth-block">
    <p class="first-paragraf">
      Privacy Policy <br />
      Public Offering Agreement
    </p>
    <p class="second-paragraf">
      2023 Focus Frame <br />
      © All rights reserved
    </p>
  </div>
</footer>