<div class="wrapper">
  <div class="wrapper__block">
    <header class="header-section">
      <div class="header-section-container container">
        <nav class="header-section__nav">
          <a href="./index.html" class="header-section__link-logo">
            <svg class="header-section_icon-logo" width="127" height="20">
              <use
                href="../img/header-images/header-icons/header-icons.svg#header-icon-logo"
              ></use>
            </svg>
          </a>
          <div class="header-section-block">
            <a href="#" class="header-section__link-camera">
              <svg class="header-section__icon-camera" width="16" height="16">
                <use
                  href="../img/header-images/header-icons/header-icons.svg#header-camera-mobile-icon"
                ></use>
              </svg>
            </a>
            <button
              class="burger-btn"
              aria-label="Open menu button"
              data-menu-open
            >
              <svg
                class="header-section__mobile-icon-burger"
                width="32"
                height="32"
              >
                <use
                  href="../img/header-images/header-icons/header-icons.svg#header-burger-mobile-icon"
                ></use>
              </svg>
            </button>
            <!-- <svg
              class="header-section__tablet-icon-burger"
              width="40"
              height="28"
            >
              <use
                href="../img/header-images/header-icons/header-icons.svg#header-burger-tablet-icon"
              ></use>
            </svg> -->
          </div>
          <ul class="header-section__list">
            <li class="header-section__list-iten">
              <a href="#about-us" class="header-section__list-link"
                >About us
              </a>
            </li>
            <li class="header-section__list-iten">
              <a href="#our-courses" class="header-section__list-link"
                >Our courses
              </a>
            </li>
            <li class="header-section__list-iten">
              <a href="#our-mentors" class="header-section__list-link"
                >Our mentors
              </a>
            </li>
            <li class="header-section__list-iten">
              <a href="#reviews" class="header-section__list-link">Reviews</a>
            </li>
            <li class="header-section__list-iten">
              <a href="#contacts" class="header-section__list-link"
                >contacts
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <a href="#sign-up" class="wrapper__link">Sign up </a>
  </div>
</div>
<div class="burger is-hidden" data-menu>
  <div class="burger-content">
    <button type="button" class="burger-content__button" data-menu-close>
      <svg class="burger-content__close-mobile-icon" width="32" height="32">
        <use
          href="../img/header-images/header-icons/header-icons.svg#header-burger-mobile-close-icon"
        ></use>
      </svg>
    </button>
    <!-- <button type="button" class="burger-content__button" data-menu-close>
      <svg class="burger-content__close-tablet-icon" width="40" height="40">
        <use
          href="../img/header-images/header-icons/header-icons.svg#header-burger-tablet-close-icon"
        ></use>
      </svg>
    </button> -->
    <ul class="burger-content-list">
      <li class="burger-content-list__item">
        <a href="#" class="burger-content-list__link">About us</a>
      </li>
      <li class="burger-content-list__item">
        <a href="#" class="burger-content-list__link">Our courses</a>
      </li>
      <li class="burger-content-list__item">
        <a href="#" class="burger-content-list__link">Our mentors</a>
      </li>
      <li class="burger-content-list__item">
        <a href="#" class="burger-content-list__link">Reviews</a>
      </li>
      <li class="burger-content-list__item">
        <a href="#" class="burger-content-list__link">contacts</a>
      </li>
    </ul>
    <img
      src="../img/header-images/burger-mobile-img.jpg"
      alt="burger-mobile-img"
      width="218"
      height="329"
      class="burger-content__mobile-img"
    />
    <img
      src="../img/header-images/burger-tablet-img.jpg"
      alt="burger-tablet-img"
      width="476"
      height="480"
      class="burger-content__tablet-img"
    />
  </div>
</div>
