<div class="wrapper grid">
  <div class="wrapper__block">
    <header class="header-section">
      <div class="header-section-container container">
        <nav class="header-section__nav">
          <a href="./index.html" class="header-section__link-logo">
            <svg class="header-section_icon-logo" width="127" height="20">
              <use
                href="./img/header/header-icons/header-icons.svg#header-icon-logo"
              ></use>
            </svg>
          </a>
          <div class="header-section-block">
            <div class="header-section__block-camera">
              <a href="#sign-up" class="header-section__link-camera">
                <svg class="header-section__icon-camera" width="16" height="16">
                  <use
                    href="./img/header/header-icons/header-icons.svg#header-camera-mobile-icon"
                  ></use>
                </svg>
              </a>
            </div>
            <button
              type="button"
              class="header-section__btn"
              aria-label="Open menu button"
              data-menu-open
            >
              <svg class="header-section__icon-burger" width="32" height="32">
                <use
                  href="./img/header/header-icons/header-icons.svg#header-burger-icon"
                ></use>
              </svg>
            </button>
          </div>

          <ul class="header-section__list">
            <li class="header-section__list-iten">
              <a href="#reclamma" class="header-section__list-link"
                >About us
              </a>
            </li>
            <li class="header-section__list-iten">
              <a href="#school" class="header-section__list-link"
                >Our courses
              </a>
            </li>
            <li class="header-section__list-iten">
              <a href="#our-mentors" class="header-section__list-link"
                >Our mentors
              </a>
            </li>
            <li class="header-section__list-iten">
              <a href="#reviews" class="header-section__list-link">Reviews</a>
            </li>
            <li class="header-section__list-iten">
              <a href="#ancor" class="header-section__list-link">contacts </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <a href="#sign-up" class="wrapper__link">Sign up</a>
  </div>
</div>
<div class="burger is-hidden" data-menu>
  <div class="burger-content">
    <button
      type="button"
      class="burger-content__button"
      aria-label="Close menu button"
      data-menu-close
    >
      <svg class="burger-content__close-icon" width="32" height="32">
        <use
          href="./img/header/header-icons/header-icons.svg#header-burger-close-icon"
        ></use>
      </svg>
    </button>
    <ul class="burger-content-list">
      <li class="burger-content-list__item">
        <a href="#reclamma" class="burger-content-list__link">About us</a>
      </li>
      <li class="burger-content-list__item">
        <a href="#school" class="burger-content-list__link">Our courses</a>
      </li>
      <li class="burger-content-list__item">
        <a href="#our-mentors" class="burger-content-list__link">Our mentors</a>
      </li>
      <li class="burger-content-list__item">
        <a href="#reviews" class="burger-content-list__link">Reviews</a>
      </li>
      <li class="burger-content-list__item">
        <a href="#ancor" class="burger-content-list__link">contacts</a>
      </li>
    </ul>
    <img
      srcset="
        ./img/header/burger-mobile-img.jpg      1x,
        ./img//header/burger-mobile-@2x-img.jpg 2x
      "
      src="./img/header/burger-mobile-img.jpg"
      alt="burger-mobile-img"
      width="218"
      height="329"
      class="burger-content__mobile-img"
    />
    <img
      srcset="
        ./img/header/burger-tablet-img.jpg      1x,
        ./img//header/burger-tablet-@2x-img.jpg 2x
      "
      src="./img/header/burger-tablet-img.jpg"
      alt="burger-tablet-img"
      width="476"
      height="480"
      class="burger-content__tablet-img"
    />
  </div>
</div>
