<section class="hero">
  <div class="hero container">
    <div class="wrapper-all-without-photo">
      <h1 class="hero-title">
        Discover the magic of <span class="hero-span">photography</span> in our
        school
      </h1>
      <p class="hero-text">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>
      <div class="wrapper-list">
        <div class="students-wrapper">
          <ul class="students-list">
            <li class="students-item">
              <picture>
                <img
                  class="student-img"
                  srcset="
                    ./img/img-hero/girl1.png    1x,
                    ./img/img-hero/girl1@2x.png 2x
                  "
                  src="./img/img-hero/girl1.png"
                  width="44"
                  alt="Student 1"
                  loading="lazy"
                />
              </picture>
            </li>
            <li class="students-item">
              <picture>
                <img
                  class="student-img"
                  srcset="
                    ./img/img-hero/boy.png    1x,
                    ./img/img-hero/boy@2x.png 2x
                  "
                  src="./img/img-hero/boy.png"
                  width="44"
                  alt="Student 2"
                  loading="lazy"
                />
              </picture>
            </li>
            <li class="students-item">
              <picture>
                <img
                  class="student-img"
                  srcset="
                    ./img/img-hero/girl.png    1x,
                    ./img/img-hero/girl@2x.png 2x
                  "
                  src="./img/img-hero/girl.png"
                  width="44"
                  alt="Student 3"
                  loading="lazy"
                />
              </picture>
            </li>
          </ul>
          <div class="hero-wrapper">
            <a href="#reviews" class="hero-text students">Our happy students</a>
            <svg class="hero-icon arrow" width="18" height="8.66">
              <use href="./img/hero-icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="reviews-wrapper">
          <div class="icon-wrapper">
            <li class="reviews-item">
              <svg class="hero-icon star" width="20" height="20">
                <use href="./img/hero-icons.svg#icon-star"></use>
              </svg>
            </li>
          </div>
          <div class="reviews-count">
            <p class="reviews-text">Reviews</p>
            <p class="reviews-text-numbers">+1500</p>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-photograph">
      <picture class="hero-picture">
        <img
          class="student-img-photograph"
          srcset="
            ./img/img-hero/photograph.png    1x,
            ./img/img-hero/photograph@2x.png 2x
          "
          src="./img/img-hero/photograph.png"
          width="259"
          alt="Photograph photo"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
