<section class="our-courses" id="school">
  <div class="container">
    <div class="header-wrap">
      <h2 class="our-courses-header">
        Our <span class="courses-span"> Courses </span>
      </h2>
      <p class="our-courses-paragraph">
        At our photography school, we offer a variety of courses that cover all
        aspects of this fascinating art. Regardless of your experience or skill
        level, we have courses to suit your needs and goals.
      </p>
    </div>
    <div class="list-wrap">
      <ul class="our-courses-list">
        <li class="our-courses-item">
          <p class="our-courses-number">01</p>
          <a class="arrow-btn" href="#sign-up">
            <svg class="arrow-icon" width="20" height="20">
              <use href="./public/favicon.svg#icon-arrow"></use>
            </svg>
          </a>
          <p class="our-courses-topic">Basics of <br />photography</p>
          <p class="our-courses-text">
            During this course, you will be able to familiarize yourself with
            different types of cameras, learn the basics of composition.
          </p>
        </li>
        <li class="our-courses-item">
          <p class="our-courses-number">02</p>
          <a class="arrow-btn" href="#sign-up">
            <svg class="arrow-icon" width="20" height="20">
              <use href="./public/favicon.svg#icon-arrow"></use>
            </svg>
          </a>
          <p class="our-courses-topic">
            Landscape <br />
            photography
          </p>
          <p class="our-courses-text">
            In this course, you'll learn how to choose the right angles, frame
            landscapes, and create depth and perspective in your images.
          </p>
        </li>
        <li class="our-courses-item last-child">
          <p class="our-courses-number">03</p>
          <a class="arrow-btn" href="#sign-up">
            <svg class="arrow-icon" width="20" height="20">
              <use href="./public/favicon.svg#icon-arrow"></use>
            </svg>
          </a>
          <p class="our-courses-topic">
            Portrait <br />
            photography
          </p>
          <p class="our-courses-text">
            During this course, you will learn to choose the right lighting,
            reproduce the mood and expressions on the faces of the models.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
