<!--Sign Up-->
<div class="signup-container container">
  <h2 class="signup-title">Sign<span class="signup-title-span">Up</span></h2>
  <p class="signup-text">
    Please use the form below to contact us. Enter your name, email, and message
    and we'll get back to you shortly.
  </p>
  <form class="signup-form" name="signup">
    <input
      class="signup-input"
      type="text"
      name="username"
      placeholder="Enter your name"
    />
    <input
      class="signup-input"
      type="text"
      name="email"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      placeholder="Enter your email"
      required
    />
    <textarea
      class="signup-message"
      id="user-comment"
      name="user-comment"
      rows="5"
      placeholder="Message"
    ></textarea>
  </form>
  <button class="send-btn" type="submit">Send</button>
  <p class="signup-policy-text">
    By clicking on “Send” button, you agree to our
    <span class="signup-policy-span">Privacy Policy</span>, and allow Promodo to
    use this information for marketing purposes.
  </p>
</div>
<div class="signup-pics container">
  <div class="signup-pics-lens">
    <img
      class="signup-img"
      src="./img/sign-up/lens.png"
      alt="photo-lens"
      width="263"
    />
  </div>
  <div class="signup-pics-camera">
    <img src="./img/sign-up/camera.png" alt="photo-video-camera" width="254" />
  </div>
</div>
