

.section-ticker.container {
  padding: 0;
}
.section-ticker {
  max-width: 375px;
}
@media screen and (min-width: 768px) {
  .section-ticker {
    max-width: 768px;
  }
}

marquee {
  overflow: hidden;
  width: 100%;

  text-transform: uppercase;
}
.marquee__inner {
  display: flex;
}

.marquee__line {
  color: #bea69e;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  flex-shrink: 0;
  margin: 0;
  padding: 20px 10px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ticker-white {
  color: #fff;
}
@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
@media screen and (min-width: 768px) {
  .marquee__line {
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: -0.8px;
    padding: 24px 10px;
  }
}
@media screen and (min-width: 1280px) {
  .marquee__line {
    font-size: 59px;
    line-height: 1.08;
    letter-spacing: -1.18px;
  }
    .section-ticker {
    max-width: 1280px;
  }
}

@media screen and (min-width: 1440px) {
  .section-ticker {
    max-width: 1440px;
  }
}


