body, html {
  font-family: 'DM Sans';
  color:#FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  margin: 0;
  padding: 0;
  background-color: #121212;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.container {
  max-width: 374.98px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: var(--black, #121212);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 100px;
    padding-left: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
