.container {
  max-width: 374.98px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: var(--black, #121212);
}

.footer-1.container {
  margin-left: 0;
  margin-right: 0;
  margin: 0 auto;
}
@media screen and (max-width: 374.98px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.footer-1 {
  min-width: 320px;
  background-color: #121212;
  background-image: url(../img/footer/graphicgrid-mob.png);
  background-position: center;
  padding-top: 40px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer-1 {
    padding-top: 50px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .footer-1 {
    background-image: url(../img/footer/graphicgrid-tab.png);
  }
  .container {
    max-width: 768px;
    background-color: #121212;
    margin: 0 auto;
    
  }
}
@media screen and (min-width: 1440px) {
  .footer-1 {
    background-image: url(../img/footer/graphicgrid-desk.png);
  }
  .container {
    max-width: 1440px;
    background-color: #121212;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439.98px) {
    .footer-1 {
    background-image: url(../img/footer/graphicgrid-desk.png);
  }
  .container {
    max-width: 1280px;
    background-color: #121212;
    margin: 0 auto;
  }
}
.footer-container {
  margin: auto;
  max-width: 375px;
}

.logo-container {
  display: flex;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .footer-container {
    padding: 50px 32px 25px;
    max-width: 768px;
    /height: 331px;
    padding-right: 0;
    padding-left: 0;
  }
  .first-paragraf {
    display: block;
  }
  .forth-block {
    display: flex;
  }
}
@media screen and (min-width: 1278px) {
  .footer-container {
    padding: 0 25px;
    max-width: 1440px;
  }
}

.footer-logo-type {
  width: 123px;
  height: 20px;
  color: #ffffff;
  margin-bottom: 25px;
}
.contacts-container {
  display: inline-flex;
  height: 46px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
  }
  .social-container {
    width: 199px;
    gap: 25px;
    margin-bottom: 74px;
    margin-right: 59px;
  }
}
@media screen and (min-width: 768px) {
  .contacts-container {
    margin-bottom: 0;
    margin-right: 57px;
  }
}
@media screen and (min-width: 1278px) {
  .contacts-container {
    width: 143px;
    height: 43px;
    gap: 10px;
    margin-right: 220px;
  }
}
.number-paragraf {
  color: #fff;

  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.tel-contact {
  color: #fff;
}
.city-place {
  color: #fff;
}
.social-container {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  width: 214px;
  margin-bottom: 75px;
}

@media screen and (min-width: 1278px) {
  .social-container {
    width: 274px;
    gap: 100px;
    margin-right: 135px;
  }
}
.first-social-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
@media screen and (min-width: 768px) {
  .first-social-list {
  }
}
@media screen and (min-width: 1278px) {
  .first-social-list {
    gap: 20px;
  }
}
.second-social-list {
  min-width: 97px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
@media screen and (min-width: 1278px) {
  .first-social-list {
    gap: 20px;
  }
}
.socials-link {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.socials {
  color: #fff;
}
.container-form {
  display: inline-block;
  margin-bottom: 40px;
  max-width: 335px;

  height: 60px;
}

.place-post {
  display: flex;
}
.sticker {
  height: 60px;
}
.e-mail {
  box-sizing: border-box;
  color: #121212;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-left: 18px;
  height: 60px;
  border-radius: 12px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .e-mail {
    width: 178px;
  }
}

@media screen and (min-width: 1278px) {
  .e-mail {
    width: 216px;
  }
}
.go-button {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  margin-left: 8px;
  border-radius: 12px;
  background: #1d1d1d;
    color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-left: 8px;
}

.forth-block {
  color: #ffffff;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .forth-block {
    line-height: 18px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1278px) {
  .forth-block {
  }
}
.first-paragraf {
  min-width: 147px;
}
@media screen and (min-width: 768px) {
  .first-paragraf {
  }
}
@media screen and (min-width: 1278px) {
  .first-paragraf {
    min-width: 171px;
  }
}
.paragraf-form {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .second-paragraf {
    min-width: 171px;
  }
}
@media screen and (min-width: 1278px) {
  .second-paragraf {
    min-width: 134px;
  }
}

@media screen and (min-width: 1440px) {
  .social-container {
    margin-right: 285px;
  }
}