.hero {
    color: #5926ac;
    background: var(--black, #121212);
    padding-top: 20px;
}
.hero.container {
    border-radius: 30px;
    background: #1D1D1D;
    margin-left: 20px;
    margin-right: 20px;
}
h1 {
    margin-top: 20px;
    width: 295px;
    color: #FFF;
        font-family: DM Sans;
        font-size: 40px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -0.04em;
}
.hero-span {
    color: #BEA69E;
        font-style: italic;
        font-weight: 400;
}
.hero-text {
    color: #FFF;
        font-family: DM Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: -0.02em;
        margin-top: 20px;
}
.hero-text.students {
    letter-spacing: -0.03em;
    width: 67px;
    margin: 0;
}
.students-wrapper {
    display: flex;
        width: 109px;
        align-items: center;
        align-content: center;
        row-gap: 4px;
        flex-wrap: wrap;
}
.students-list {
    margin-top: 40px;
    display: flex;
    flex-shrink: 0;
}
.students-img {
    flex-shrink: 0;
    border-radius: 100px;
    border: 2px solid #1D1D1D;
    background: var(--avatar-user-square-caitlyn-king-neutral-background, url(<path-to-image>), lightgray 50% / cover no-repeat, #E0E0E0);
}
.hero-wrapper  {
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
}
.reviews-wrapper {
    display: flex;
    width: 104px;
    align-items: center;
    gap: 12px;
}
.reviews-item {
    border-radius: 100px;
    background: #BEA69E;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}
.reviews-text {
    color: rgba(255, 255, 255, 0.50);
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.03em;
    row-gap: 4px;
}
.reviews-text-numbers {
    color: #FFF;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -0.04em;
}
