.signup-container {
    max-width: 480px;
    display: inline-block;
    margin-right: 200px;

}

.signup-title {
    color: #FFF;


    font-size: 48px;

    font-weight: 500;
    line-height: 54px;

    letter-spacing: -1.92px;
}

.signup-title-span {
    color: #BEA69E;

    font-size: 48px;

    font-weight: 500;
    line-height: 54px;
    letter-spacing: -1.92px;
}

.signup-text {
    color: rgba(255, 255, 255, 0.50);

    font-size: 14px;

    font-weight: 400;
    line-height: 18px;
}

.signup-input {
    width: 100%;
    height: 60px;
    padding-left: ;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background-color: transparent;
    outline-color: #ffffff;
    opacity: 0.7;
    padding-left: ;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup-message {
    width: 100%;
    height: 120px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background-color: transparent;
    outline-color: #ffffff;
    opacity: 0.7;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn {
    width: 100%;
    background-color: #ffffff;
    display: inline-flex;
    margin-top: 40px;
    margin-bottom: 20px;
    align-items: center;
    font-size: 18px;

    font-weight: 700;
    line-height: 28px;

    text-transform: uppercase;
    color: #121212;

    padding: 16px 216px;
    border: ;
    border-radius: 12px;

    min-width: 480;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup-policy-text {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.signup-policy-span {
    color: rgba(255, 255, 255, 0.50);

    font-size: 14px;

    font-weight: 400;
    line-height: 18px;
    text-decoration-line: underline;
}

.signup-pics {
    display: inline-flex;
    margin-bottom: 150px;
    width: 560px;
}

.signup-pics-lens {

    background-color: #BEA69E;
    border-radius: 1000px;
    width: 190px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    height: 288px;
    flex-shrink: 0;


}

.signup-img {
    transform: rotate(-90deg);
    background-image: url("https: //s3-alpha-sig.figma.com/img/08e5/394c/3f7c65c0f402f1061ebb08a8b671983d?Expires=1705881600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=e22iZBFLNtBilR2KnfcQBk8~FGSKwxdqOFn42pbUKuPqtLxX8Fno-sh3zWpjGA2msHEyPmGWaBzsEeHb~SoVwWQbpHHhcd0wfmgHLqy6r4WOAE9nOZ4GHakL1aLd1FluA4QvmMGygMzvV8H~~Ei9K93wKnVHTSwXkm2T50Yoeg6zI0193c4aye7-gUbPW2AitAbii0Xxqyn3HlQu59XpCzGSQO1v~ZZG9XmTTFUSU75yTuKiB4gsKyFQkrWACPxz4LlAhD4LufD~qbg4n~pmkthSFN2vjd59lPXxq6VV3wjkl4GINtf3FJh~bjo0oKXT~GTgzRCA8V7QCP6yHjneqg__");
    background-repeat: no-repeat;

    box-shadow: -35px 18px 25px 0px rgba(0, 0, 0, 0.26);

}

.signup-pics-camera {
    background-color: #1D1D1D;
    border-radius: 1000px;
    width: 350px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 540px;
    flex-shrink: 0;
}